.error-container {
  background: linear-gradient(var(--blue), var(--background));
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Go back */
.go-back-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  width: 100%;
  padding: 4rem 0rem 0rem 2rem;
}
#go-back-btn {
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background: none;
}
#arrow-go-back {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.go-back-h4 {
  padding-left: 0.5rem;
  color: var(--golden);
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
/* Main content */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60vw;
  height: 50vh;
}
.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--light-blue), var(--blue));
  border-radius: 15px;
  height: 10vh;
  width: 55vw;
}
.sad-dog-container {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./../../images/sad-dog.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#heading {
  padding-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
}
#error-h4 {
  font-size: 1.3rem;
  text-align: center;
  color: var(--golden);
}
