.all-dogs-container {
  width: 100%;
  background: var(--dark-grey);
  padding-bottom: 1rem;
}
.heading-div {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--golden);
  font-size: 1.5rem;
}
/* Dogs */
.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  justify-content: center;
}
.single-dog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 360px;
  width: 315px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: var(--golden);
  filter: brightness(100%);
  box-shadow: 3px 3px 3px black;
}
.single-dog img {
  height: 220px;
  width: 300px;
  border-radius: 0.5rem;
}
.top {
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.dog-name {
  padding-bottom: 0.2rem;
  font-size: 1rem;
}
.short-desc {
  color: red;
}
.show-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
  color: var(--golden);
  height: 1.8rem;
  width: 6rem;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0.2rem;
  border-radius: 5px;
  text-decoration: none;
}
.show-all:hover {
  cursor: pointer;
  filter: brightness(110%);
}
