.all-dogs-container {
  min-height: 100vh;
  width: 100%;
  background: #1b262c;
  padding-bottom: 1rem;
}
.heading-div {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--golden);
  font-size: 1.5rem;
  padding: 4rem 0rem 2rem 0rem;
}
/*search */
.search-bar-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.search-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2.5rem;
  width: 85%;
  background-color: #3282b8;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px black;
}
#search-icon {
  height: 1.8rem;
  width: 1.5rem;
}
.input-field {
  padding-left: 0.5rem;
  height: 1.8rem;
  width: 20rem;
  background-color: #3282b8;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: black;
}
.input-field::placeholder {
  font-style: italic;
  color: #1b262c;
}
.search-btn {
  height: 1.8rem;
  width: 5rem;
  outline: none;
  border: none;
  background-color: #1b262c;
  color: var(--golden);
  border-radius: 0.6rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 3px 3px 3px black;
  letter-spacing: 1px;
}
.search-btn:hover {
  cursor: pointer;
  height: 1.9rem;
  width: 5.1rem;
}

/* Dogs */
.container {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  justify-content: center;
}
.single-dog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 360px;
  width: 315px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #0f4c75;
  filter: brightness(100%);
  box-shadow: 3px 3px 3px black;
}
.single-dog img {
  height: 220px;
  width: 300px;
  border-radius: 0.5rem;
}
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dog-name {
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  color: white;
}
.short-desc {
  color: var(--golden);
}
.show-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--golden);
  color: black;
  height: 1.8rem;
  width: 6.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0.2rem;
  border-radius: 5px;
  text-decoration: none;
}
.show-all:hover {
  cursor: pointer;
  filter: brightness(110%);
}
.single-dog p {
  color: var(--very-light-blue);
}
/* Spinner */
.spinner-container {
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
