:root {
  --golden: #fdcf01;
  --background: #1b262c;
  --blue: #0f4c75;
  --light-blue: #3282b8;
  --very-light-blue: #bbe1fa;
  --navbar-bgr: linear-gradient(var(--background), var(--light-blue));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
