:root {
  --golden: #fdcf01;
  --orange: #f08a5d;
  --background: #121212;
  --dark-grey: #383838;
  --navbar-bgr: linear-gradient(var(--dark-grey), #bfbfbf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
